<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page_title_el }}</title>
  <meta name="description" content="Created with Ansible">
</head>
<body>
    <h1>{{ page_title_el }}</h1>
    <p>{{ page_description_el }}</p>
</body>
</html>
